$primary-font: 'Roboto Mono', monospace
$primary-color: rgba(28, 167, 247, 0.49)
$primary-white: #f0f0f0
html, body
  height: 100%
  user-select: none

main
  background-color: $primary-color
  display: flex
  flex-flow: row wrap
  align-items: center

  justify-content: center
  min-height: 80vh
  flex-grow: 1

.scaled-image
  width: 100%
  height: 100%
  object-fit: cover

.custom-invalid
  display: block
  position: absolute
  color: red

.image-container-50
  width: 50px
  height: 50px
  overflow: hidden
  cursor: pointer

.image-container-100
  width: 100px
  height: 100px
  overflow: hidden
  cursor: pointer

.image-container-300
  width: 300px
  height: 300px
  overflow: hidden
  cursor: pointer

.image-container-500
  width: 500px
  height: 500px
  overflow: hidden
  cursor: pointer