.login-container
  align-self: center
  background-color: white
  display: flex
  flex-flow: column nowrap
  align-items: center
  padding: 24px
  border-radius: 20px

  & form
    width: 90%
    display: flex
    flex-flow: column
    gap: 15px
    justify-content: center
    padding: 20px