.register
  align-self: center
  background-color: white
  padding: 8px
  border-radius: 20px

  &-header
    background-color: #1ca7f7
    padding: 8px
    text-align: center
    color: white
    border-radius: 20px

  &-form
    > div
      position: relative

span
  font-size: 10px
